* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header-logo {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
	background-color: antiquewhite;
	display: flex;
	justify-content: center;
	font-size: 2em;
}

#btnClear {
	width: 100%;
}

.list-group-item {
	cursor: pointer;
}

/*Footer Section */

#footer {
	padding: 25% 15%;
	text-align: center;
}
.social-icon {
	margin: 20px 20px;
}
.social-icon:hover {
	transform: scale(2);
	opacity: 2;
}
